Adafruit-ADS1x15==1.0.2
Adafruit-Blinka==7.2.3
adafruit-circuitpython-busdevice==5.1.8
adafruit-circuitpython-dht==3.7.2
adafruit-circuitpython-typing==1.6.0
Adafruit-DHT==1.4.0
Adafruit-GPIO==1.0.3
Adafruit-PlatformDetect==3.22.1
Adafruit-PureIO==1.1.9
certifi==2020.6.20
chardet==4.0.0
colorzero==1.1
distro==1.5.0
gpiozero==1.6.2
gyp==0.1
idna==2.10
pyftdi==0.54.0
pyserial==3.5
python-apt==2.2.1
pyusb==1.2.1
requests==2.25.1
rpi-ws281x==4.3.4
RPi.GPIO==0.7.0
six==1.16.0
smbus==1.1.post2
spidev==3.5
ssh-import-id==5.10
sysv-ipc==1.1.0
urllib3==1.26.5
